.contact-flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 20px;
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.contact-flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

.flip-front {
    background-color: #222322;
}

.flip-front h3 {
    font-size: 24px;
    font-weight: 700;
}

.flip-back {
    background-color: #222322;
    transform: rotateY(180deg);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-back ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .flip-back li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 1.5;
  }
  
  .flip-back .icon {
    color: #fff;
    font-size: 18px;
    margin-top: 2px;
  }
  
  .flip-back .text {
    color: #fff;
    font-weight: 500;
  }
  
  .flip-back a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

.flip-back h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
